---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Lucrari from "../components/Lucrari.astro";
import Atelier from "../components/Atelier.astro";
import Servicii from "../components/Servicii.astro";
import DeCeNoi from "../components/DeCeNoi.astro";
import Proces from "../components/Proces.astro";
import Acoperire from "../components/Acoperire.astro";
import FAQ from "../components/FAQ.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import MobileStickyBar from "../components/MobileStickyBar.astro";
---

<Layout>
  <Nav />
  <main id="continut">
    <Hero />
    <Lucrari />
    <Atelier />
    <Servicii />
    <DeCeNoi />
    <Proces />
    <Acoperire />
    <FAQ />
    <Contact />
  </main>
  <Footer />
  <MobileStickyBar />
</Layout>
